<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper header">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("BookStore", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>
            <div style="clear: both"></div>
        </div>
        <div id="cssmenu" class="content-wrapper">
            <ul>
                <li class='active'>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                <li><a href='#'><span>Giới thiệu</span></a>
                </li>
                <li><a href='#'><span>Liên hệ</span></a>
                </li>
                <li class="last">
                    @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { id = "frm-search" }))
                    {
                        <span>Tìm sách:</span>
                        <input type="text" name="title">
                        <input type="submit" value="Tìm kiếm">
                    }
                </li>
            </ul>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            <div id="content">
                @RenderBody()
            </div>
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - BookStore</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
