@model List<BookStore.Book>
@{
    ViewBag.Title = "Home Page";
}
<div id="content" class="grid_16">
    @foreach (BookStore.Book book in Model)
    {
        <div class="container_14 push_1 book">
            <div class="grid_5">
                <img src="@book.image" />
            </div>
            <div class="grid_8">
                <h3 class="book_title">@book.title</h3>
                <div>
                    <span>Tác giả: </span><span class="author">@book.author</span>
                </div>
                <div>
                    <span>Nhà xuất bản: </span><span class="publisher">@book.publisher</span>
                </div>
                <div>
                    <span>Giá bán: </span><span class="price">@string.Format("{0:0,0} VNĐ", book.price)</span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear margintop"></div>
    }
</div>
